video {
	width:300px;
	height:250px;
	padding:0;
}
#wrapper{
	width:950px;
	margin:0 auto;
	text-align: center;
	font-family: Helvetica, Arial;
	padding:0;
}

.video {
	max-width:300px;
	max-height:255px;
	padding:0;
	display: inline-block;
}

a{
	color:#E68308;
}